{% extends "base.html" %}
{% block content %}
<!-- Slider Area -->
<section id="slider" class="carousel slide carousel-dark carousel-fade" data-bs-ride="carousel" data-bs-touch="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active text-center">
            <img src="static/banner1.jpg" alt="" class="d-block mx-auto">
        </div>
        <div class="carousel-item text-center">
            <img src="static/banner2.jpg" alt="" class="d-block mx-auto">
        </div>
        <div class="carousel-item text-center">
            <img src="static/banner3.jpg" alt="" class="d-block mx-auto">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</section>


<!-- About Area -->
<section id="about" class="pb-md-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h2>About Us</h2>
                <h6>What We Do?</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, ipsam culpa. Commodi aspernatur
                    temporibus placeat libero fugit at sequi consequuntur.</p>
                <button class="btn btn-info">Learn More</button>
            </div>
            <div class="col-md-6">
                <img src="img/about.jpg" alt="">
            </div>
        </div>
    </div>
</section>

{% endblock %}
