/*=============================
* Common CSS
===============================*/
body{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
  }
  h1, h2{
    font-weight: 900;
    line-height: 1em;
  }
  h2{
    color: #502314;
    font-size: 60px;
  }
  h3, h4, h5, h6{
    font-weight: 700;
    line-height: 1.3em;
  }
  h6{
    color: #502314;
    font-size: 25px;
  }
  p{
    font-weight: 400;
    line-height: 1.5em;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  .btn.btn-info{
    background: #d62300;
    border: 1px solid #d62300;
    color: #fff;
    border-radius: 25px;
    padding: 12px 35px;
  }

  /*=============================
  * Heaader  Area Style
  ===============================*/
  #main_menu nav{
    background: #ebe2d3;
    font-weight: 500;
  }
  #main_menu nav li{
    margin-left: 15px;
  }

/*=============================
* Slider Area Style
===============================*/
#slider{
    padding-top: 100px;
  }

  /*=============================
  * About Area Style
  ===============================*/
  #about{
    padding-top: 50px;
  }
